@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap');

:root {
  --bg: #000;
  --fg: #fff;
  --di: #9aa;
  --ac: #aee;
}

.light {
  --bg: #fff;
  --fg: #000;
  --di: #899;
  --ac: #599;
}

html, body {
  margin: 2rem;
  height: calc(100% - 2rem);

  font-family: sans-serif;
  background: var(--bg);
  color: var(--fg);
}

main, header, footer {
  margin: auto;
  max-width: 85ch;
}

a {
  color: var(--ac);
}
h1 a, a h1 {
  color: var(--fg);
}

h1 {
  color: var(--fg);
  font-family: 'Pixelify Sans', monospace, sans-serif;
  filter: drop-shadow(0 0 1rem var(--fg));
}

h2 {
  font-family: 'Pixelify Sans', monospace, sans-serif;
}

h3 {
  color: var(--fg);
  font-family: monospace, sans-serif;
  margin-bottom: .5rem;
}
p {
  color: var(--fg);
  margin-top: .5rem;
  max-width: 80ch;
}

hr {
  max-width: 80ch;
  margin: 1rem 0;
  border: none;
  border-bottom: 2px solid var(--fg);
  border-radius: 5rem;
}

header {
  margin-bottom: 4rem;
}

footer {
  margin-top: 1rem;
  padding-bottom: 1rem;
}

section {
  margin-bottom: 2rem;
}

code, pre {
  line-height: 2;
  padding: .25rem .5rem;
  color: var(--di);
  background: var(--bg);
  text-wrap: wrap;
  white-space: pre-wrap;
}

section > ul {
  list-style: none;
}

ul, ol {
  line-height: 1.5;
  padding-left: 1.5rem;
}

label {
  color: var(--fg);
  font-size: small;
}

.accent {
  --fg: var(--ac);
}

input {
  font-size: 1.25ch;
  background: var(--bg);
  color: var(--fg);
  outline: none;
  padding: .75rem 1.5rem;
  margin: .5rem;
  transition: background 250ms, color 250ms;
  border: 2px solid var(--fg);
  border-radius: 5rem;
  margin-left: 0;
}
input::placeholder {
  color: var(--di);
}
input:focus {
  background: var(--fg);
  color: var(--bg);
}

select {
  appearance: none;
  -webkit-appearance: none;

  margin: .25rem .5rem;
  margin-left: 0;
  font-size: 1.25ch;
  padding: .75rem 1.5rem;
  border: 2px solid var(--fg);
  border-radius: 5rem;
  background: var(--bg);
  color: var(--fg);
  outline: none;
  cursor: pointer;
  transition: color 250ms, background 250ms;
}
select:focus {
  background: var(--fg);
  color: var(--bg);
}

.form-item {
  display: flex;
  flex-direction: column;
}
.form-row {
  display: flex;
  justify-items: space-evenly;
}
.form-btn-row {
  display: flex;
  justify-items: space-evenly;
}

button {
  background: var(--bg);
  color: var(--fg);
  cursor: pointer;
  outline: none;
  transition: background 250ms, color 250ms;

  border: 2px solid var(--fg);
  border-radius: 5rem;

  margin: .1rem .2rem;
  padding: .5rem 2rem;
}
button:focus-visible, button:hover {
  background: var(--fg);
  color: var(--bg);
}

.switch {
  margin: .5rem 0;
  width: 2rem;
  height: 2rem;
  background: var(--bg);
  cursor: pointer;

  border: 2px solid var(--fg);
  border-radius: 100%;
}
.switch input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.switch div {
  margin-top: .375rem;
  margin-left: .375rem;
  width: 1.25rem;
  height: 1.25rem;
  background: transparent;
  transition: background 250ms;
  border-radius: 100%;
}
.switch input:checked + div {
  background: var(--fg);
}

button:disabled, input:disabled, select:disabled, .switch:has(> input:disabled) {
  --fg: var(--di);
  cursor: not-allowed;
}

.spaced {
  margin: 1rem 0;
}

.profile ul {
  list-style: none;
  padding-left: .1rem;
}

.listing, .profile {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin: 1rem;
}
.listing > img, .profile > img {
  width: 5rem;
  height: auto;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.pill {
  background: var(--fg);
  color: var(--bg);
  font-size: small;

  border-radius: 5rem;

  margin: .1rem .2rem;
  padding: .2rem .8rem;
}

dialog {
  color: var(--fg);
  background: var(--bg);
  border: 2px solid var(--fg);
  border-radius: 2.5rem;
}

dialog[open] {
  animation: pull-up 250ms ease-out;
}

dialog::backdrop {
  background: #000;
  opacity: 0.75;
}

.ic {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-position: center;
}
.ic-heart {
  background: url(heart.svg);
}

@media only screen and (max-width: 450px) {
  .form-row, .listing, .profile {
    flex-direction: column;
  }
}

@keyframes pull-up {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }

  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
@keyframes fade-in {
  from { opacity: 0; }
}

@keyframes fade-out {
  to { opacity: 0; }
}

@keyframes slide-from-right {
  from { transform: translateX(30px); }
}

@keyframes slide-to-left {
  to { transform: translateX(-30px); }
}

::view-transition-old(root) {
  animation: 90ms cubic-bezier(0.4, 0, 1, 1) both fade-out,
    200ms cubic-bezier(0.4, 0, 0.2, 1) both slide-to-left;
}

::view-transition-new(root) {
  animation: 180ms cubic-bezier(0, 0, 0.2, 1) 90ms both fade-in,
    200ms cubic-bezier(0.4, 0, 0.2, 1) both slide-from-right;
}
